{% extends 'dasboardindex.html' %}
{% block content %}
{% load static %}
<div  class="container" >
    <div class="row justify-content-center align-items-center text-center"  style="width: 100%;height: 100%;">
      <div class="col-12">
        <h2 style="padding-top: 30px;padding-bottom: 30px;" class="display-5 text-center"><u>Product Detials</u> </h2>

      </div>

      <table style="color: white !important; " class="table table-dark ">
        <form action="{% url 'viewcomm' %}" method="POST"> 
          {% csrf_token %}
            <div style="margin-bottom: 20px; display: inline-block;" class="col-12 d-flex flex-row justify-content-center align-items-center text-center">
              <input type="text" name="search"  placeholder="search by category/p.name" id="">&nbsp;&nbsp;
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" value="Category" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Category
                </label>
              </div>
              &nbsp;&nbsp;
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" value="Product_Name" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Product_Name 
                </label>
              </div>
              &nbsp;&nbsp;
                <input  class="btn btn-primary" type="submit" value="submit">
                <br>
              </form>
              &nbsp;&nbsp;
              <a  class="btn btn-success" href="/media/csvfile/products.csv"> download</a>&nbsp;&nbsp;
              <a  class="btn btn-danger" href="{% url 'viewcomm' %}"> reset</a>

            </div>
            <thead>
              <br>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Product_Name</th>
                <th scope="col">Product_Discription</th>
                <th scope="col">Product_Price</th>
                <th scope="col">Product_Stock</th>
                <th scope="col">Product_Stock_Status</th>
                <th scope="col">Product_Category</th>
                <th scope="col">Product_Image</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>



              </tr>
            </thead>
            <tbody>
              {% for i in product %}
              
              <tr>
                <td>
                  {{i.id}}
              </td>
                <td>
                    {{i.Product_Name}}
                </td>
                <td>
                    {{i.Product_Discription}}
                </td>
                <td>
                    {{i.Product_Price}}
                </td>
                <td>
                  {{i.Product_Stock}}
              </td>
              <td>
                {{i.Product_Stock_Status}}
            </td>
            <td>
                {{i.Product_Category}}
            </td>
              <td>
                <img   src={{i.Product_Image.url}} alt="image anu" style="height: 60px;width: 60px;" >
              </td>
                <td>
                  <a style="text-decoration: none; color: white;" href="{% url 'updatecomm' userid=i.id %}"><i style="color: rgb(255, 255, 255);" class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Update</a>
                </td>
                <td>
                  <a style="text-decoration: none; color: white;" href="{% url 'deletedata' userid=i.id %}"><i style="color: red;" class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
         <div>{% endblock %}